@charset "UTF-8";

body{
    color: dimgray;
    background: linear-gradient(to top right,#c0c0c0,white);
    font-size:20px;
    margin: 15px;
    text-align: center;
}
ul{
    text-align: center;
    list-style: none;
    font-size: 25px;
    padding: 1em 1em;
    margin: 100px 100px;
    border: double 5px #696969;
}
a{
    text-decoration: none;
    font-size: 30px
}
a:link{
    color: darkgray;
}
a:visited{
    color: darkgray;
}
h1{
    font-size: 60px;
    text-align: center; 
    background: linear-gradient(transparent 20%,#fff 50%);
}
h2{
    font-size: 40px;
    margin: 20px
}

#tex{
    font-size: 30px;
}
.pic{
    margin: 40px 30px 30px ;
}
#aa:hover{
    font-size: 2em;
}
#bb:hover{
    font-size: 2em;
}
#cc:hover{
    font-size: 2em;
}
#dd:hover{
    font-size: 2em;
}

#button{
    display: inline-block;
    text-decoration: none;
    background: coral;
    color: black;
    width: 120px;
    height: 120px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
    border-bottom: none;
    margin: 30px 100px 10px;
    border-radius: 50%;
    font-size: 20px;

}
#new{
    border-color: darkgray;
    outline-color: darkgray;
    background: transparent;
    color: dimgray;
    width: 200px;
    font-size: 30px;
    cursor: pointer;
}